<div class="top">
  <h1> Home </h1>
  <!-- <a href="/logout">logout</a> -->

  <button style="background-image:url(b6.gif)"><a href="/tweets/new">tweet</a></button>
   <button style="background-image:url(b6.gif)"><a href=<%="/users/#{session[:user_id]}"%>>profile</a></button>
  <button style="background-image:url(b6.gif)"><a href="/logout">logout</a></button>

</div>
</div>

<div>


  <% @tweets.each do |tweet| %>
    <br><br>
    <a href="/users/<%= tweet[:poster] %>"><%= tweet[:name] %></a>
    <br>
    <%= tweet[:body] %>
    <br><br>
  <% end %>
<br>
<a href="/users">See All Users</a>
</div>

<!-- TODO: handle situation in which someone tries to follow them's own self -->
<!-- TODO: handle situation in which someone is already following this person -->
<form action="/relationship" method="post">
  <input type="hidden" name="poster" value="<%=params[:id]%>">
  <input type="submit" value="Follow">
</form>
